@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap);

/* Button */

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  /* border: 2px solid;
  border-color: whitesmoke; */
}

.glow-on-hover:active {
  color: rgb(248, 242, 242);
}

.glow-on-hover:active:after {
  background: transparent;

}

.glow-on-hover:hover:before {
  opacity: 1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  color: rgb(248, 242, 242);
  /* background: rgba(209, 14, 144, 0.5); */
  left: 0;
  top: 0;
  border-radius: 10px;
}

@media only screen and (max-width: 767px) {
  .btn-oval.btn-xl {
    width: 145px !important;
    font-size: 15px !important;
  }
}

.btn-oval.btn-xl {
  width: 185px;
  height: 50px;
  padding: 10px 0px;
  border-radius: 5px;
  border-color: bisque;
  text-align: center;
  font-size: 17px;
  color: rgb(215, 221, 250);
  line-height: 1.42857;
  position: relative;
  z-index: 0;
  outline: none;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.btn-oval.btn-xl:hover {
  color: #ecf3e9d8;
}


/* --------- */
/* OverAll */
/* --------- */
.section-title {
  font-size: 1.4rem;
  font-family: 'PoppinsBold';
  letter-spacing: 1.4rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  color: rgba(119, 121, 122, 0.877);
}

@media (max-width: 767px) {
  .section-title {
    font-size: 0.8rem;
    letter-spacing: 0.8rem;
  }
}

.App,
.home-about-section,
.industry-exprience-content,
.choose-me-container,
.solution-section,
.portfolio-filter-content,
.news-section {
  background-color: rgb(42, 44, 57);
  margin-top: 4rem;
}

.hero-solution-content,
.skill-section,
.business-service-content,
.contact-section,
.choose-me-container,
.footer {
  background-color: rgb(40, 42, 55);
  margin-top: 4rem;

}

/* .skill-section {
  padding-top: 1px;
} */

/* --------- */
/* Footer */
/* --------- */
.footer {
  padding: 2rem 0 0 0;
  background-color: #2a2c39;
  margin-top: 4rem;
}

.footercopy {
  background-color: rgb(41, 42, 57);
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-copywright {
  text-align: center !important;
}

.footer-copywright a {
  text-decoration: none;
}

.footer-mid {
  text-align: center !important;
}

.text-copy {
  font-size: 1rem !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}

.list-inline-item a {
  font-size: 1rem !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(63, 64, 65);
  text-decoration: none;
}

.footer-body a {
  font-size: 0.9rem !important;
}

.footer-title {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.footer-link {
  color: rgb(119 121 122);
  text-decoration: none;
}

.footer-one {
  margin-bottom: 10px;
}

.footer-link:hover,
.list-inline-item a:hover {
  color: rgba(235, 62, 10, 0.877);
}

.ul.social-buttons {
  margin-bottom: 0;
}

.ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: rgba(235, 62, 10, 0.877);
}

.list-inline-item.icon-item a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 10px;
  outline: 0;
  background-color: #1a1d20;
}

.footersocial-icons {
  color: rgba(235, 62, 10, 0.877);
}

.add-location {
  font-weight: bold;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-mid {
    text-align: center !important;
  }
}

.footer h4 {
  font-size: 1em;
  color: white !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.blockquote-footer {
  color: #a588c0 !important;
}

.footercont {
  padding: 1rem;
  color: #fff;
  text-align: center;
}

.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.social {
  padding-top: 2rem;
}

.social-list {
  text-align: center !important;
  margin: 2rem 2rem 2rem 2rem;
}

.social-list h4 {
  color: rgba(119, 121, 122, 0.877);
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.social-icons {
  display: inline-block !important;
  padding-right: 8px;
  padding-left: 8px;
}

.quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
}

.social-list-icons {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  padding-top: 4px;
  position: relative;
  z-index: 0;
}

/* --------- */
/* Navbar Section  */
/* --------- */
.fixed-top {
  background-color: #2a2c39;
}

.sticky {
  background-color: #212038d8 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.menu-item {
  border-radius: 7px;
  margin-bottom: 0;
}

.menu-item.infobtn {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.menu-item:focus {
  outline: none;
}

.menu-item:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
}

.navbar-toggler {
  padding: 0.25rem 1.5rem !important;
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: #be50f4 !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: #181a27 !important;
  }

  .navbar-nav .nav-item a::after {
    display: none !important;
  }

  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}
@media (max-width: 420px) {
  .navbar {
    padding: 0.7rem 2rem !important;    
  }
}

@media (max-width: 420px) {  

  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-brand {
  color: rgb(250, 250, 250) !important;
}

.logo {
  height: 2.4em !important;
  width: 4.5em !important;
}

.navbar-nav .nav-link {
  color: rgb(247, 241, 241) !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.ml-auto.navbar-nav {
  padding-left: 120px;
}


.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: #77797A;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
  padding-top: 1px;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

.nav-item:hover .dropdown-menu {
  display: block !important;
}

/* --------- */
/* Home Section  */
/* --------- */
.hero-solution-content {
  width: 100%;
  height: 90vh;
}

.hero-solution.hero-solution-wrap.section-title {
  margin-top: 0rem !important;
  margin-bottom: 5rem !important;
}

.hero-solution .justify-content-md-center .row {
  z-index: 9;

}

.home-about-content h3 {
  padding-top: 4rem;
  text-align: left;
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(250, 250, 250);
}

.home-about-para p {
  padding-top: 0.75rem;
  padding-bottom: 1.5rem;
  text-align: left;
  font-size: 1.1rem;
  color: antiquewhite;
}

.home-about-content {
  text-align: left;
}

.home-about-counter.col-md-2 {
  display: grid;
}

.home-counts1,
.home-counts2,
.home-counts3 {
  border: 1.5px solid rgba(236, 230, 238, 0.877) !important;
  padding: 0.75rem 0.75rem 0.45rem 0.45rem;
  margin-right: 0.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.home-counts1 h4,
.home-counts2 h4,
.home-counts3 h4 {
  font-weight: bold;
  font-size: 3.5rem;
  color: rgba(235, 62, 10, 0.877);
}

.home-counts1 p,
.home-counts2 p,
.home-counts3 p {
  font-size: 1.1rem;
  color: rgba(253, 251, 251, 0.877);
}

@media (max-width: 767px) {
  .hero-solution-content {
    width: 100%;
    height: 90vh;
  }

  .home-about-section {
    margin-top: 6rem;
  }

  .home-about-content h3 {
    font-size: 1.6rem;
    padding-top: 0.5rem
  }

  .home-about-para p {
    font-size: 1rem;
  }

  .home-about-para a {
    margin-bottom: 20px;
  }

}

/* --------- */
/* Skills Section  */
/* --------- */

.skills_content {
  height: 90%;
  top: 5%;
  left: 55px;
  min-height: 566px;
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  justify-content: space-between;
  width: calc(100% - 55px);
  margin-top: 4rem !important;
  margin-bottom: 5rem !important;
}

/* .skills_content .text_h1 {
  color: #08fdd8;
} */
.skills_content>.skills_main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*noinspection CssUnusedSymbol*/
}

.skills_content>.skills_main>.left_side {
  margin-left: 6%;
  width: 35%;
  /* vertical-align: middle;
  display: block; */
  max-height: 90%;
}

.skills_content>.skills_main>.left_side .left_side_text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  font-family: monospace, sans-serif;
  margin: 12px 0;
}

/* .skills_content > .skills_main > .left_side .left_side_link {
  color: #08fdd8;
} */
.skills_content>.skills_main>.left_side .left_side_link:hover {
  text-decoration: none;
}

.skills_content>.skills_main>.right_side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills_content>.skills_main>.tags_cloud div.sphere-tags {
  display: none;
  font-family: monospace, sans-serif;
}

.skill-col {
  width: 550px;
  height: 500px;
  border: 1px solid;
  padding: 10px;
  background-color: #1e1f2a;
  box-shadow: 3px 5px #2A2C39;
}

.skill-col h3 {
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  /* font-weight: bold; */
  font-size: 2rem;
  color: rgb(250, 250, 250);
}

.skill-col p {
  padding-top: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  text-align: left;
  font-size: 1.1rem;
  color: antiquewhite;
}

.skill-col p span {
  color: #77797A;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .skills_content {
    left: 0;
    top: 70px;
    min-height: 810px;
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .skills_content>.skills_main {
    height: 100%;
    top: 70px;
    width: 100%;
    flex-direction: column;
  }

  .skills_content>.skills_main>.left_side {
    width: 90%;
    margin-left: 10%;
  }

  .skills_content>.skills_main>.left_side p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 19px;
  }

  .skills_content>.skills_main>.right_side {
    width: 90%;
    overflow: auto;
    margin: 0;
    min-height: 115px;
  }

  .skills_content>.skills_main>.right_side canvas {
    width: 100%;
    height: 100%;
  }

  .skills_content>.skills_main>.tags_cloud div.sphere-tags {
    display: none;
    font-family: monospace, sans-serif;
  }
  .skill-col {
    width: 500px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {

  /*768px*/
  .skills_content {
    left: 0;
    top: 70px;
    min-height: 810px;
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .skills_content>.skills_main {
    height: 100%;
    top: 70px;
    width: 100%;
    flex-direction: column;
  }

  .skills_content>.skills_main>.left_side {
    width: 90%;
    margin-left: 10%;
  }

  .skills_content>.skills_main>.left_side p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 19px;
  }

  .skills_content>.skills_main>.right_side {
    width: 100%;
    overflow: auto;
    margin: 0;
    min-height: 115px;
  }

  .skills_content>.skills_main>.right_side .tags_cloud {
    width: 95%;
  }

  .skills_content>.skills_main>.right_side canvas {
    width: 100%;
    height: 100%;
  }

  .skills_content>.skills_main>.tags_cloud div.sphere-tags {
    display: none;
    font-family: monospace, sans-serif;
  }
  .skill-col {
    width: 500px;
  }
}

/* --------- */
/* Exprience Section  */
/* --------- */

.industry-exprience-content {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.industry-exprience {
  margin-top: 4rem !important;
  margin-bottom: 6rem !important;
}

.flex-column {
  padding: 0, 0, 0, 0 !important;
}

.solnav.nav-link.active {
  background-color: rgb(30, 31, 42) !important;
  color: rgb(129, 128, 127) !important;
}

.solnav.nav-link {
  color: rgb(250, 250, 250) !important;
  font-size: 1.5rem;
  text-align: left;
}

/* .industry-exprience-col-content h5{
  font-size: 2.5rem;
  font-weight: bold;
  color: antiquewhite;
  text-align: left;
}
.industry-exprience-col-content p{
  text-align: left;
  color: antiquewhite;
} */
.industry-icons {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(119, 121, 122, 0.877);
  text-align: left;
}

.industry-product-name {
  color: antiquewhite;
  text-align: left;
}

.industry-product-des {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  color: antiquewhite;
}

@media (max-width: 767px) {

  .industry-exprience-col-2 {
    display: none !important;
  }

  .tabname {
    width: 40% !important;
    max-width: 40% !important;
    height: 310px !important;
    overflow: scroll;
  }

  .industry-exprience-col-content h5 {
    font-size: 1.7rem !important;
  }

  .industry-icons {
    font-size: 1rem !important;
  }

  .tabcontent {
    width: 60% !important;
    max-width: 60% !important;
  }
}

/* --------- */
/* Service Section  */
/* --------- */

.business-modal-content {
  text-align: left;
}

.business-modal-content h3 {
  color: aliceblue;
}

.service-link {
  text-decoration: none !important;
  color: #fff;
}

.service-link:hover {
  color: #be50f4;
}

.service-title {
  display: flex;
  position: absolute;
  margin-top: 1.2rem;
  margin-left: 1.2rem;
}

.d-block {
  display: block;
}

.business-service-content {
  margin-top: 2rem;
  position: relatives;
}

.service-btn {
  justify-content: center;
  padding-top: 2rem;
  margin-bottom: 6rem !important;
}

.service-icon {
  padding-left: 25px;
  transform: rotate(-20deg);
}

.d-icon {
  border-radius: 16px;
  border: 1.8px solid rgb(253 252 252 / 95%);
  width: 50px;
  height: 35px;
  margin-left: 55px;
}

.service-slide-content p {
  padding-top: 2.5rem;
  font-size: 25px;
  color: antiquewhite;
}

.slick-prev:before,
.slick-next:before {
  font-size: 55px !important;
}

.slick-next {
  right: 10px !important;
}

.service-con-icon {
  padding: 0 !important;
  margin-top: 2.7rem;
  margin-bottom: 2.7rem;
}

.service-con-list {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.infobtn.menu-item.nav-item {
  margin-left: 120px;
}

.icon-text {
  color: antiquewhite;
}

/*----Service Slider------*/
.slick-slide.slick-active.slick-current+.slick-slide .web-app-service:before {
  background: linear-gradient(90deg, #2d9ee0 0%, #2f80ed 50%, #091e3a 100%);
  transition-delay: 0.5s;
}

.slick-slide.slick-active.slick-current+.slick-slide .dev-ops-service:before {
  background: linear-gradient(90deg, #00467f, #a5cc82);
}

.slick-slide.slick-active.slick-current+.slick-slide .mobile-app-service:before {
  background: linear-gradient(90deg, #1d2671 0%, #c33764 100%);
}

.slick-slide.slick-active.slick-current+.slick-slide .uiux-desing-service:before {
  background: linear-gradient(to left, #4b0082, #9400d3);
}

.slick-slide.slick-active.slick-current+.slick-slide .crm-web-service:before {
  background: linear-gradient(to left, #43cea2, #185a9d);
}

.slick-slide.slick-active.slick-current+.slick-slide .data-science-service::before {
  background: linear-gradient(to left, #9400d3, #185a9d);
}

.slick-slide.slick-active.slick-current+.slick-slide.slick-active+.slick-slide.slick-active .mobile-app-service {
  background: linear-gradient(90deg, #4b0082, #9400d3) !important;
}

.first-slider .slick-slide>div {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (max-width: 991px) {
  .first-slider .slick-slide>div {
    width: 95%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .first-slider .slick-slide>div {
    width: 80%;
  }
}

@media only screen and (max-width: 767px) {
  .first-slider .slick-slide>div {
    width: 95%;
  }

  .service-btn {
    display: block;
  }

  .service-slide-content p {
    font-size: 17px;
  }

  .slick-prev:before,
  .slick-next:before {
    display: none;
  }

  .d-flex.align-items-center h3 {
    font-size: 12px !important;
  }

  .web-app-service,
  .mobile-app-service,
  .uiux-desing-service,
  .dev-ops-service,
  .crm-web-service,
  .data-science-service {
    height: 90px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  .web-app-service .service-title,
  .mobile-app-service .service-title,
  .uiux-desing-service .service-title,
  .dev-ops-service .service-title,
  .crm-web-service .service-title,
  .data-science-service .service-title {
    margin-left: 10px !important;
  }

  .service-icon {
    display: none !important;
  }

  .d-icon {
    margin-left: 15px;
    border-radius: none;
    border: none;
  }
}

.first-slider .slick-list {
  width: calc(100% + 3.5%);
  margin-left: -1.85%;
}

.second-slider .slick-arrow {
  right: 0;
  height: 4.4rem;
  width: 4.4rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #444;
  border-radius: 99px;
}

.second-slider .slick-prev {
  font-size: 0 !important;
  display: block;
  position: absolute;
  top: 40%;
  left: -35%;
  border-radius: 99px;
  background-color: rgb(10, 4, 22) !important;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .second-slider .slick-prev {
    left: -70px;
  }
}

@media only screen and (max-width: 767px) {
  .second-slider .slick-prev {
    display: none !important;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .second-slider .slick-prev {
    left: -40%;
  }
}

.second-slider .slick-prev:before {
  content: '' !important;
  /* background-image: url("./services-icons/right-arrow.svg"); */
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-position: top 49% right 1.3rem;
  height: 4.4rem;
  width: 4.4rem;
  display: block;
  border-radius: 99px;
}

.second-slider .slick-prev:hover:before {
  background-color: var(--primary) !important;
}

.second-slider .slick-next {
  font-size: 0 !important;
  display: block;
  position: absolute;
  top: 40%;
  right: -35%;
  border-radius: 99px;
  background-color: #111 !important;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .second-slider .slick-next {
    right: -70px;
  }
}

@media only screen and (max-width: 767px) {
  .second-slider .slick-next {
    display: none !important;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .second-slider .slick-next {
    right: -40%;
  }
}

.second-slider .slick-next:before {
  background-color: transparent;
  content: '' !important;
  /* background-image: url("./services-icons/right-arrow.svg"); */
  background-repeat: no-repeat;
  background-position: top 49% right 1.3rem;
  height: 4.4rem;
  width: 4.4rem;
  display: block;
  border-radius: 99px;
}

.second-slider .slick-next:hover:before {
  background-color: var(--primary) !important;
}

.mobile-app-service {
  position: relative;
  /* width: 100%; */
  background: linear-gradient(to left, #4b0082, #9400d3) !important;
  border-radius: 13px;
  overflow: hidden;
  height: 170px;
  border: 1.2px solid rgba(178, 87, 214, 0.877);
  margin-left: 20px;
  margin-right: 20px;
}

.mobile-app-service:hover:before {
  background: linear-gradient(to left, #4b0082, #9400d3);
}

.mobile-app-service:before {
  top: 1px;
  left: 1px;
  margin: 0;
  content: '';
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: rgb(10, 4, 22);
  border-radius: 13px;
}

.web-app-service {
  position: relative;
  /* width: 100%; */
  background: linear-gradient(90deg, #2d9ee0 0%, #2f80ed 50%, #091e3a 100%);
  overflow: hidden;
  height: 170px;
  border-radius: 13px;
  border: 1.2px solid rgba(178, 87, 214, 0.877);
  margin-left: 20px;
  margin-right: 20px;
}

.web-app-service:hover:before {
  background: linear-gradient(90deg, #2d9ee0 0%, #2f80ed 50%, #091e3a 100%);
}

.web-app-service:before {
  top: 1px;
  left: 1px;
  margin: 0;
  content: '';
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: rgb(10, 4, 22);
  border-radius: 13px;
}

.dev-ops-service {
  position: relative;
  /* width: 100%; */
  background: linear-gradient(90deg, #00467f, #a5cc82);
  height: 170px;
  border-radius: 13px;
  border: 1.2px solid rgba(178, 87, 214, 0.877);
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
}

.dev-ops-service:hover:before {
  background: linear-gradient(90deg, #00467f, #a5cc82);
}

.dev-ops-service:before {
  top: 1px;
  left: 1px;
  margin: 0;
  content: '';
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: rgb(10, 4, 22);
  border-radius: 13;
}

.uiux-desing-service {
  position: relative;
  /* width: 100%; */
  background: linear-gradient(90deg, #1d2671 0%, #c33764 100%);
  height: 170px;
  border-radius: 13px;
  border: 1.2px solid rgba(178, 87, 214, 0.877);
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
}

.uiux-desing-service:hover:before {
  background: linear-gradient(90deg, #1d2671 0%, #c33764 100%);
}

.uiux-desing-service:before {
  top: 1px;
  left: 1px;
  margin: 0;
  content: '';
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: rgb(10, 4, 22);
  border-radius: 13px;
}

.crm-web-service {
  position: relative;
  /* width: 100%; */
  /*background: linear-gradient(90deg, #704E8D 0%, #CA5DB9 100%);
 */
  background: linear-gradient(90deg, #185a9d 0%, #43cea2 100%);
  height: 170px;
  border-radius: 13px;
  border: 1.2px solid rgba(178, 87, 214, 0.877);
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
}

.crm-web-service:hover:before {
  background: linear-gradient(90deg, #185a9d 0%, #43cea2 100%);
}

.crm-web-service:before {
  top: 1px;
  left: 1px;
  margin: 0;
  content: '';
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: rgb(10, 4, 22);
  border-radius: 13px;
}

.data-science-service {
  position: relative;
  /* width: 100%; */
  background: linear-gradient(to left, #4b0082, #d36600) !important;
  border-radius: 13px;
  overflow: hidden;
  height: 170px;
  border: 1.2px solid rgba(178, 87, 214, 0.877);
  margin-left: 20px;
  margin-right: 20px;
}

.data-science-service:hover:before {
  background: linear-gradient(to left, #4b0082, #d36600);
}

.data-science-service:before {
  top: 1px;
  left: 1px;
  margin: 0;
  content: '';
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: rgb(10, 4, 22);
  border-radius: 13px;
}

.services-box-main {
  margin-top: 6rem !important;
  padding: 5rem 0;
  position: relative;
}

@media only screen and (max-width: 991px) {
  .services-box-main {
    padding: 5rem 0 4rem;
  }
}

@media only screen and (max-width: 767px) {
  .services-box-main {
    overflow: hidden;
  }
}

.services-box-main:before {
  content: '';
  position: absolute;
  top: 0;
  left: 10%;
  margin: 0 auto;
  height: 100%;
  background: linear-gradient(90deg, #091024 0%, #1f1c4b 50%, #031936 100%);
  width: calc(100% - 20%);
}

.mobile-display-link {
  display: none;
}

@media only screen and (max-width: 991px) {
  .services-box-main:before {
    width: 100%;
    left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .services-box-main:before {
    width: 100%;
    left: 0;
  }
}

@media only screen and (max-width: 575px) {
  .services-box-main:before {
    width: 100%;
    left: 0;
  }
}


/* --------- */
/* Contact Us Section  */
/* --------- */
.career-email {
  text-align: left;
  margin-top: 2.5rem;
  color: aliceblue;
  font-weight: bold;
}

.career-phone {
  text-align: left;
  margin-top: 1rem;
  color: aliceblue;
  font-weight: bold;
}

.add-ind,
.add-usa {
  text-align: left;
  margin-top: 1rem;
  color: aliceblue;
}

.contact-content-info h4 {
  color: rgb(224, 98, 14);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.contact-content-info {
  text-align: left;
}

.contact-info h7,
.career-info h7,
.ind-address-info h7,
.usa-address-info h7 {
  color: rgb(160, 70, 168);
}

.contact-info,
.career-info,
.ind-address-info,
.usa-address-info {
  text-align: center;
}

.project-dicuss-content {
  justify-content: center;
}

.project-dicuss {
  height: 18rem;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 12rem;
  margin-right: 12rem;
  flex-wrap: wrap;
  border-radius: 15px;
  background: linear-gradient(to right, rgba(209, 14, 144, 0.5), rgba(29, 9, 211, 0.5));
}

.project-dicuss h4,
p {
  color: antiquewhite;
}

.product-hire {
  height: 15rem;
  width: 50%;
  justify-content: center;
  padding-top: 4rem;
  border: 1px solid rgb(58, 54, 54) !important;
  text-align: left;
}

.product-hire-work {
  height: 15rem;
  width: 50%;
  justify-content: center;
  padding-top: 4rem;
  text-align: left;
  background: linear-gradient(to right, rgba(62, 159, 189, 0.5), rgba(92, 82, 187, 0.5));
}

.product-hire-work h4,
.product-hire h4 {
  color: aliceblue;
  padding-bottom: 0.7rem;
  padding-left: 0.5rem;
}

.product-hire h4 span {
  color: rgb(230, 65, 15);
  font-weight: bold;
  font-size: 2rem;
}

.product-hire-work h4 span {
  color: rgb(230, 65, 15);
  font-weight: bold;
  font-size: 2rem;
}

.product-hire-content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 767px) {
  .news-content-title.col-md-4 .email, .news-content-title.col-md-4 .phone, .news-content-title.col-md-4 .skype {
    text-align: center;
  }
  .btn-oval.btn-xl {    
    margin-bottom: 20px;
  }
}

/* --------- */
/* Portfolio Section */
/* --------- */
.project-filter-content {
  margin-top: 4rem !important;
  margin-bottom: 2rem !important;
}

.filter-buttons {
  margin-top: 10px;
  margin-bottom: 20px;
}

.filter-button {
  background-color: rgb(42, 44, 57);
  color: antiquewhite;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid bisque;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.filter-button.active {
  background-color: rgb(30, 31, 42);
  color: rgba(119, 121, 122, 0.877);
  ;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  width: 30% !important;
  /* height: 20rem !important; */
  border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
  border-radius: 15px;
  margin-top: 10px !important;
  margin-bottom: 40px !important;
  margin-left: 8px !important;
  margin-right: 8px !important;
  padding: 10px;
  color: white;
  box-shadow: 4px 5px 4px 3px rgba(141, 48, 228, 0.137) !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s, transform 0.2s !important;
  opacity: 0.93 !important;
  background-color: #181a27;
}

.project h4 {
  color: rgba(119, 121, 122, 0.877);
}

.project:hover {
  background: linear-gradient(rgba(30, 31, 42, 0.5), transparent);
  color: white;
}

.project-tags {
  text-align: center;
}

.project-tags h5 {
  color: rgba(119, 121, 122, 0.877);
}

.project-tags-all {
  padding: 12px;
  background: rgb(31, 32, 46);
  /* border: 1px solid white; */
  border-radius: 16px;
}

@media only screen and (max-width: 767px) {
  .project h3 {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }

  .project {
    width: 45% !important;
  }

  .project h4 {
    font-size: 1.4rem;
  }

  .project p {
    font-size: 1rem;
  }

}

/* --------- */
/* ChooseMe Section */
/* --------- */
.choose-me-container {
  margin-top: 7rem !important;
  margin-bottom: 2rem !important;
}

.choose-me-contant {
  margin-top: 4rem !important;
  margin-bottom: 6rem !important;
}

.choose-me-title p {
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: antiquewhite;
  margin-top: 1.5rem;
}

.choose-me-box {
  width: 30% !important;
  position: relative;
  border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
  border-radius: 15px;
  margin-top: 10px !important;
  margin-bottom: 40px !important;
  margin-left: 8px !important;
  margin-right: 8px !important;
  box-shadow: 4px 5px 4px 3px rgba(141, 48, 228, 0.137) !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
  opacity: 0.93 !important;
  background-color: #181a27;

}

.choose-me-box:hover {
  background: linear-gradient(rgba(30, 31, 42, 0.5), transparent);
}

.choose-me-box h5 {
  font-size: 1.75rem;
  color: #FFFFFF;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.choose-me-box p {
  font-size: 1rem;
  color: antiquewhite;
  margin-bottom: 1rem;
}

.choose-me-box .glow-on-hover.btn.btn-default {
  margin-bottom: 8px;
}

/* .page-icon-img{
  padding-left: 50px !important;
  margin-top: -10px !important;
  margin-bottom: -20px !important;
} */
@media only screen and (max-width: 767px) {
  .choose-me-title h4 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .choose-me-box {
    width: 45% !important;
  }

  .choose-me-box h5 {
    font-size: 1.4rem;
  }

  .choose-me-box p {
    font-size: 1rem;
  }
}

/* --------- */
/* Hero Section */
/* --------- */
.hero-contact-button {
  background: url(https://raw.githubusercontent.com/anupammallick88/CarRental-Project-FrontEnd/main/src/assets/anupamlogo.png);
  background-size: 25%;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.circle-container {
  position: relative;
  width: 500px;
  height: 500px;
  border: 4px solid rgb(247, 243, 243);
  border-radius: 50%;
  margin: 50px auto;
  background: linear-gradient(to left, #4b0082, #d36600) !important;
}

.dot {
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: #031936;
  border-radius: 50%;
  animation: moveDots 6s linear infinite;
  /* Apply the animation */
}

@keyframes moveDots {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(245px) translateY(0);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(245px) translateY(0);
  }
}

.dot:nth-child(1) {
  top: 50%;
  left: 50%;
  animation-delay: 0s;
}

.dot:nth-child(2) {
  top: 50%;
  left: 50%;
  animation-delay: 1s;
}

.dot:nth-child(3) {
  top: 50%;
  left: 50%;
  animation-delay: 2s;
}

.dot:nth-child(4) {
  top: 50%;
  left: 50%;
  animation-delay: 3s;
}

.dot:nth-child(5) {
  top: 50%;
  left: 50%;
  animation-delay: 4s;
}

.dot:nth-child(6) {
  top: 50%;
  left: 50%;
  animation-delay: 5s;
}

/* .dot:nth-child(7) { top: 50%; left: 50%; animation-delay: 6s; }
.dot:nth-child(8) { top: 50%; left: 50%; animation-delay: 7s; } */

/*wrap*/

.hero-solution .hero-solution-wrap .container-fluid {
  display: contents;
}

/* .inner-shape-top-right, .inner-shape-bottom-right {
  position: absolute;
  width: 345px;
  height: 345px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,.05);
  bottom: -230px;
  right: -230px;
} */

/* .inner-shape {
  -webkit-transform: scale(.85);
  transform: scale(.85);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  visibility: hidden;
  opacity: 0;
} */

.hero-shape {
  z-index: -1;
}

.hero-top-shape {
  position: absolute;
  top: -100px;
}

.hero-shape span {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 50%;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  opacity: 0
}

.hero-shape span:nth-child(1) {
  width: 440px;
  height: 440px
}

.hero-shape span:nth-child(2) {
  width: 560px;
  height: 560px
}

.hero-shape span:nth-child(3) {
  width: 700px;
  height: 700px
}

.hero-solution-shape {
  position: relative;
  overflow: hidden;
}

/* text animation */

.text-ani {
  background: url(https://raw.githubusercontent.com/anupammallick88/CarRental-Project-FrontEnd/main/src/assets/anup-collage-min.png);
  background-size: 40%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  /* -webkit-backface-visibility: var(--primary); */
  color: rgba(0, 0, 0, 0.08);
  animation: zoomout 20s ease 10s infinite;
  font-size: 7.1vw !important;

}

@keyframes zoomout {
  from {
    background-size: 40%;
  }

  to {
    background-size: 10%;
  }
}

.hero-text-content-des {
  padding-top: 15px;
  padding-bottom: 15px;
}

.hero-text-developer {
  color: #ccc;
}

.hero-text-name {
  margin-top: 45px !important;
}

.hero-contact-button {
  margin-top: 45px !important;
  margin-bottom: 5px;
}

.line-container {

  position: relative;
  margin-top: -16px;
}

.dot-line {
  position: relative;
  border-left: 4px solid rgb(245, 247, 245);
  height: 270px;
  left: 50%;
  margin-left: -27px;
  margin-top: -95px;
  top: 2px;
}

.dot-round-main {
  z-index: 0;
  position: absolute;
  margin-top: -266px;
  margin-left: 5.5px;
}

.dot-round {
  /* position: absolute; */
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 12px;
  border: 1px solid white;
  background-color: none;
  border-radius: 50%;
  background: linear-gradient(to left, #4b0082, #d36600) !important;
  position: relative;
  z-index: 0;
}

.dot-round a {
  color: #ccc;
  display: block;
  margin-top: 5px !important;
}

.dot a {
  color: #ccc;
  display: block;
  margin-top: 7px !important;
}

@media only screen and (max-width: 767px) {
  .hero-solution-content {
    display: inline;
  }

  .text-ani {
    font-size: 3.8vw;
  }

  .dot-line {
    display: none;
  }

  .dot-round-main {
    display: inline-flex;
    position: relative;
    margin-top: 10px;
  }

  .dot-round {
    margin-right: 7px;
    margin-left: 7px;
  }

  .hero-contact-button {
    background-size: 10%;
  }

}

/* --------- */
/* Nesw Letter Section  */
/* --------- */
.news-section-contant {
  margin-top: 4rem !important;
  margin-bottom: 2rem !important;
}

.news-content-field {
  background-color: #181a27;

}

.news-content-field h4 {
  color: aliceblue;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: 'Barlow Semi Condensed', 'sans-serif';
}

/* .infobtn {
  border-radius: 1rem;
  background-color: rgb(230, 65, 15);
  margin-bottom: 3rem;
} */

.skype,
.email,
.phone span {
  color: aliceblue;
  font-weight: bold;
}

/* .skype {
  text-align: left;
  margin-top: 2.5rem;
} */
.email,
.phone,
.skype {
  text-align: left;
  margin-top: 1rem;
}

input[type="text"],
input[type="textarea"] {
  background: transparent;
  border: 1px solid #fff;
  /* border-bottom: 1px solid #fff; */
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 15px;
  background-color: dimgrey;
}

.msg {
  /* background: transparent !important; */
  background-color: dimgrey !important;
  border: 1px solid #fff;
  /* border-bottom: 1px solid #fff; */
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  margin-top: 2rem;
}

.msg:focus,
select.msg:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.md-3 {
  margin-top: 2rem;
}

@media (max-width: 767px) {
  .infobtn {
    border-radius: 0;
    margin-bottom: 0;
  }

  .infobtn.menu-item.nav-item {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

}